div .row {
    margin: 6em 0 5em 0;
}

.card {
    margin: 0em 1em 5em 1em;
    cursor: pointer;
}

.card p {
    word-break: break-all;
}

span.valign-wrapper {}

form input {
    width: 100%;
    margin: 2em 0 0 0;
}