#landing-back {
    padding: 15em 0 15em 0;
    margin: 0 0 10em 0;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .4);
    background: url("../images/landingback.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.landing {
    text-shadow: rgba(0, 0, 0, .8) 0px 0px 8px;
}

.row {
    margin: 2em 0 2em 0;
}

.card {
    cursor: pointer;
}

.card p {
    word-break: break-all;
}

form input {
    width: 100%;
    margin: 2em 0 0 0;
}

#modal {
    top: 10%;
}

.card-panel {
    padding: 3em !important;
}

.card.large {
    height: 400px !important;
}

.modal {
    max-height: 70%;
    width: 30%;
    display: "block" !important;
    z-index: 1000;
}

#modal-img {
    max-width: 80%;
    height: auto;
}

#modal-back {
    display: block;
    z-index: 100;
    height: 100vh;
    opacity: .6;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #212121;
    right: 0;
    padding: 0;
    width: 100%;
    margin: auto;
    border-radius: 2px;
    will-change: top, opacity;
}