#landing-back {
    padding: 1em;
    margin: 0 0 5em 0;
    box-shadow: inset 0px -1px 1px 1px rgba(0, 0, 0, .4);
}

.row {
    margin: 2em 0 2em 0;
}

.card {
    margin: 0em 1em 5em 1em;
    cursor: pointer;
}

.card p {
    word-break: break-all;
}

span.valign-wrapper {}

form input {
    width: 100%;
    margin: 2em 0 0 0;
}